.chat-box {
  overflow: auto;
  height: 400px;
}

.small-message-text {
  font-size: 60%;
  font-weight: 400;
  color: #eaebf1;
}

.message-text {
  /*border-top: 1px solid #cccccc;*/
}

.chat {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  width: 100%;
  height: 360px;
  background-color: #eee;
  border: 1px solid #fff;
}

.conversation {
  display: block;
  width: 100%;
  height: 310px;
  overflow: auto;
  background-color: #eee;
}

.texting {
  display: block;
  text-align: center;
  padding: 10px;
}

.message-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
}

.message {
  display: block;
  padding: 4px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #fff;
  background-color: #2C3E50;
  border-radius: 10px;
}

.messageFromMe {
  display: block;
  float: right;
  margin-left: auto;
  padding: 4px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #fff;
  background-color: #18BC9C;
  border-radius: 10px;
}

.shadow-md-light {
  -webkit-box-shadow: 0 0 12px 8px #fff;
          box-shadow: 0 0 12px 8px #fff;
}

.shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.shadow-md {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.shadow-lg {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.shadow-inner {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.shadow-none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

